/*retesh css start*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: "montserrat";
    font-family: 16px;
    font-weight: 500;
}

a {
    text-decoration: none !important;
}

.fw-sbold {
    font-weight: 600 !important;
}

.gap-10 {
    gap: 10px;
}

.newsletter .form-control::placeholder,
input.text-white::placeholder {
    color: #fff;
}

input.form-control,
select.form-control {
    height: 55px;
    border-radius: 15px;
    font-style: italic;
    border-width: 2px;
}

.sectionHeader h6 {
    font-size: 34px;
}

.sectionHeader h6.underLine:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #000;
}

.sectionHeader h6.underLine.text-white:after {
    background-color: #fff;
}

.sectionHeader h6.underLine.text-white:before {
    border-color: #fff;
}

.sectionHeader h6.underLine:before {
    position: absolute;
    content: "";
    right: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #000;
    bottom: 0;
    transform: translate(100%, 50%);
}

section.newsletter .form-checkWrp p {
    font-size: 12px;
}

.productSlider .cardCstm {
    min-height: 400px;
    border-radius: 10px;
    z-index: 9;
    overflow: hidden;
    transition: 0.4s;
}
.productSlider .cardCstm img {
    transition: 0.4s;
}
.productSlider .cardCstm:hover img {
    transform: scale(1.1);
}
.productSlider .cardCstm:after {
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    top: 0;
    width: 100%;
    background: #00000047;
    z-index: -1;
    border-radius: 10px;
}

.productSlider .cardCstm img {
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
    top: 0;
    left: 0;
}

.productSlider .cardCstm h6 {
    font-size: 24px;
}

section.newsletter .form-checkWrp input {
    background: transparent !important;
    height: 16px;
    width: 16px;
    accent-color: #fff;
    flex-shrink: 0;
}

.icon-with-text span.icn {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.icon-with-text input {
    height: 45px;
    border-radius: 9px;
}

.formBtn {
    height: 50px;
    font-size: 14px;
    padding: 0 30px;
    background: #2193F3;
}

.gradientBtn {
    background: linear-gradient(90deg, #0095F3 0%, #DF86EE 100%);
    border: 1px solid #DF86EE;
    border-radius: 15px;
    height: 45px;
    padding: 0 23px;
    font-weight: 500;
    font-size: 14px;
}



/*retest css close*/




/*tarun css*/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {

    font-family: 'Montserrat', sans-serif;
}

.bannerCommon {
    background-image: url("../public/assets/image/bannerBg.png");
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bannerCommon .outterText {
    text-align: center;
    max-width: 852px;
    width: 100%;
    padding: 0px 30px;
}

.bannerCommon .outterText h2 {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
}

.bannerCommon .outterText p {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #ffffff;
}
footer a, footer a p {
    transition: 0.4s;
}
footer a:hover, footer a:hover p {
    color: #c588ef !important;
}
.formSide h3 {
    color: #000;
    font-size: 34px;
    font-weight: 700;
    line-height: 100%;
}

.formSide p {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    height: 78px;
    margin-top: 21px;
    margin-bottom: 0;
}

.formOutter input,
.formOutter select,
.formOutter textarea {
    border-radius: 15px;
    border: 2px solid #000;
    height: 59px;
    padding: 10px 24px;
}

.formOutter textarea {
    height: 128px;
}

.formOutter input::placeholder,
.formOutter textarea::placeholder {
    color: #000;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 100%;
}

.inputoutter {
    margin-bottom: 37px;
}

.formOutter input.checkBox {
    width: 17px;
    height: 17px;
    padding: 0;
}

.formOutter .form-check label.form-check-label {
    color: #000;
    font-size: 13px;
    font-weight: 300;
    line-height: 100%;
    height: 52px;
    padding-left: 12px;
}

.messageOutter {
    margin-bottom: 21px;
}

button.submitBtn {
    border-radius: 10px;
    background: #2193F3;
    box-shadow: 0px -1px 1px 1px rgba(52, 35, 170, 0.25) inset, 0px 1px 1px 1px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 1px #4834D4 inset, 0px 1px 2px 0px rgba(20, 14, 62, 0.25);
    width: 162px;
    padding: 18px 24px;
    border: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 100%;
}

.mapMain {
    margin-top: 55px;
}

.ContactForm {
    margin: 81px 0;
    padding: 0 150px;
}

.formOutter select {
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='8' viewBox='0 0 22 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 6.99225L21 1' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: 22px;
    background-position: center right 26px;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    line-height: 100%;
}

.container {
    max-width: 1215px !important;
    margin: 0 auto;
}

.mapMain img {
    width: 100%;
    padding-left: 56px;
}


.sliderOutter .slick-slider img {
    display: block;
    width: 100%;
    transition: transform 0.3s ease;

}

.sliderOutter.ourCustom .slick-slider img {
    object-fit: scale-down;
}

.sliderOutter .slick-slide {
    padding-right: 24px;
    padding-left: 24px;
}

.sliderOutter {
    max-width: 1512px;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0 0 70px;
}

.sliderOutter .slick-slider>* :focus-visible {
    border: none;
    outline: none;
    box-shadow: none;
}

.sliderOutter .slick-slider .slick-dots li button:before {
    content: normal !important;
}

.sliderOutter .slick-slider .slick-dots li button {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    display: flex;
    flex-direction: row-reverse;

}

.sliderOutter .slick-slider .slick-dots li button::after {
    content: "0" !important;
}

.sliderOutter .slick-slider ul.slick-dots {
    position: static;
    margin-top: 40px;
}


.browse-inner-data h3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    position: relative;
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 0;
    padding-bottom: 20px;
}



.browse-inner-data p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 30px;
    padding-right: 220px;
}

.browse-inner-data {
    margin-bottom: 28px;
}

.sliderOutter .slick-slider .sliderImg h4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #FFF;
    text-align: center;
    font-size: 34px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 30px 70px;
    background: rgba(0, 0, 0, 0.40);
}

.sliderImg {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.sliderImg:hover img {
    transform: scale(1.1);
}

.rangeOutter {
    text-align: center;
}

.rangMain {
    -webkit-appearance: none;
    width: 336px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='335.774' height='11.547' viewBox='0 0 335.774 11.547'%3E%3Cg id='Group_1' data-name='Group 1' transform='translate(-382 -360)'%3E%3Cpath id='Arrow_2' data-name='Arrow 2' d='M.226,6,6,11.774,11.774,6,6,.226ZM6,7H172V5H6Z' transform='translate(381.773 359.773)' fill='%23a7a7a7'/%3E%3Cpath id='Arrow_3' data-name='Arrow 3' d='M164.774,6,159,.226,153.227,6,159,11.774ZM0,7H159V5H0Z' transform='translate(553 359.773)' fill='%23a7a7a7'/%3E%3C/g%3E%3C/svg%3E%0A");
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 20px;
    background-size: contain;
    margin-top: 10px;
}

.rangMain:hover {
    opacity: 1;
}

.rangMain::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='249.039' height='126.71' viewBox='0 0 249.039 126.71'%3E%3Cg id='Group_2' data-name='Group 2' transform='translate(-419.065 -467.124)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M196.569,72.644V180.385L251.122,127.2Z' transform='translate(412 404)' fill='%23fff' stroke='%23000' stroke-width='7'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M54.552,181.385V71.644L0,126.833Z' transform='translate(424 404)' fill='%23fff' stroke='%23000' stroke-width='7'/%3E%3Crect id='Rectangle_1' data-name='Rectangle 1' width='123' height='125' transform='translate(482 468)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.srangMain::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}


/*slider Gradient*/

.slickGradient .slick-slider {
    padding-bottom: 100px;
}

.prevArrow.sliksarrow {
    left: calc(50% - 40px) !important;
}

.sliksarrow {
    bottom: 0px;
    position: absolute;
    cursor: pointer;
}

.nextArrow.sliksarrow {
    right: calc(50% - 40px) !important;
}


.bgGradient {
    /* background: lightgray 50% / cover no-repeat, #FA61B3, url(public/assets/image/gradientBG.png); */
    background-image: url(../public/assets/image/gradientBG.png);
    padding-top: 116px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgGradient .browse-inner-data h3,
.bgGradient .browse-inner-data p {
    color: #ffffff;
}

.bgGradient .sliderOutter .slick-slider .sliderImg h4 {
    position: static;
    background: transparent;
    display: block;
    text-align: left;
    text-transform: capitalize;
    font-weight: 600;
    color: #000000;
    margin-top: 34px;
    padding-bottom: 15px;
}

.bgGradient .sliderOutter .slick-slider .sliderImg p.clientDetails {
    color: #000;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin: 0;
    padding: 0 30px;
}

.bgGradient .sliderOutter .slick-slider .sliderImg {
    background: #ffffff;
    padding: 10px 10px 60px;
}

.sliderOutter .slick-slide>div {
    padding: 10px 0;
}

.bgGradient .sliderOutter .slick-slider .sliderImg .imgOuuter {
    overflow: hidden;
    border-radius: 15px;
}

.ourCustOutter {
    margin-top: 142px;
}

.browse-inner-data h3:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='315' height='2' viewBox='0 0 315 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='0.943604' y1='0.588623' x2='315' y2='0.588623' stroke='black'/%3E%3C/svg%3E%0A");
    background-size: cover;
    bottom: 0px;
    position: absolute;
}

.browse-inner-data h3:before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='7' stroke='black'/%3E%3C/svg%3E%0A");
    position: absolute;
    bottom: -6px;
    right: -13px;
}

.bgGradient .browse-inner-data h3::after {
    background-image: url("data:image/svg+xml,%3Csvg width='453' height='1' viewBox='0 0 453 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='452.159' y2='0.5' stroke='white'/%3E%3C/svg%3E%0A");
}

.bgGradient .browse-inner-data h3::before {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='7.5' cy='7.5' r='6.5' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}


.bannerCommon.bannerLeft {
    background-image: url(../public/assets/image/bannerBg2.png);
    align-items: left;
    justify-content: left;
}

.bannerCommon.bannerLeft .outterText,
.bannerCommon.bannerLeft .outterText h2 {
    text-align: left;
}

.bannerCommon.bannerLeft .outterText {
    padding-left: 159px;
}

.solutionCardOutter .cardSolution {
    /* background-image: url(../public/assets/image/game-development.png); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    border-radius: 15px;
    background-position: center;
    overflow: hidden;
    margin: 0 10px 43px;
    position: relative;
}

.solutionCardOutter .cardSolution .cardDetails img {
    height: 100px;
}

.solutionCardOutter .cardSolution .cardDetails {
    text-align: center;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: inherit;
    margin-bottom: 17px;
    background: rgba(0, 0, 0, 0.60);
    z-index: 9;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.solutionCardOutter .cardSolution .cardDetails h2 {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    min-height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    text-transform: uppercase;
}

.solutionCards {
    margin-top: 27px;
    margin-bottom: 50px;
}

.bannerCommon.game-dev {
    background-image: url("../public/assets/image/gamedevelopment.png");
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bannerCommon.app-dev{
    background-image: url("../public/assets/image/appbg.png");
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bannerCommon.block-dev{
    background-image: url("../public/assets/image/blockapp.png");
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bannerCommon.thd{
    background-image: url("../public/assets/image/thd.png");
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bannerCommon.graphicapp{
    background-image: url("../public/assets/image/graphicapp.png");
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.bannerCommon.webapp{
    background-image: url("../public/assets/image/webapp.png");
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}
.bannerCommon.game-dev .outterText {
    text-align: center;
    width: 852px;
    max-width: 100%;
    padding: 0px 30px;
}

.bannerCommon.game-dev .outterText h2 {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
}

.browse-inner-data h3 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.browse-inner-data p {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 30px;
    padding-right: 220px;
}

.browserList li {
    list-style: none;
    position: relative;
}


.browserList li .gm-ct {
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-size: cover;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;
}

.browserList li .gm-ct h3 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

ul.browserList {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 29px;
}

.browse-inner-data {
    margin-bottom: 28px;
}

.container {
    max-width: 1215px !important;
    margin: 0 auto;
}

.browserListBg {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 15px;
}

.browserListBg img {
    display: block;
    transition: transform 0.3s ease;
}

li:hover .browserListBg img {
    transform: scale(1.1);
}

.games-catgr {
    margin: 65px 0;
}

.aboutBg {
    background-image: linear-gradient(89deg, rgba(10, 100, 156, 0.90) 0%, rgba(31, 3, 229, 0.00) 100%), url("../public/assets/image/aboutBg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
}

.aboutBg .outterText h2 {
    color: #FFF;
    font-size: 44px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 60px;
}

.aboutBg .outterText ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.aboutBg .outterText ul li {
    color: #FFF;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='-1' y='6.48535' width='10' height='10' rx='3' transform='rotate(-45 -1 6.48535)' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 12px;
    background-position: 0px 6px;
    background-repeat: no-repeat;
    padding-left: 35px;
    position: relative;
    overflow: hidden;
}



.aboutBg .outterText {
    padding-left: 146px;
    padding-top: 100px;
    padding-bottom: 195px;
}
.aboutBg .outterText ul li:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='1' height='308' viewBox='0 0 1 308' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 307.003L0.5 0.996765' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='2 4 6 8'/%3E%3C/svg%3E%0A");
    width: 2px;
    display: inline-block;
    height: 60px;
    position: absolute;
    left: 5px;
    top: 10px;
}
.aboutBg .outterText ul li:last-child:before{
    content: normal;
}

.scrollDown {
    position: absolute;
    bottom: 49px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.scrollDown img {
    width: 33px;
}
.transformTtl {
    margin-top: 67px;
}
/* tarun css close */





/* /news room/ */


.teamJoin {
    background:url(../public/assets/image/teamBg.png), rgba(0, 0, 0, 0.60);
    min-height: 633px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}
.teamJoin .outterText h2 {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.teamJoin .outterText p {
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: #ffffff;
    text-align: center;
}
.teamJoin .outterText .sliderBtn {
    border-radius: 10px;
    background: #2193F3;
    box-shadow: 0px -1px 1px 1px rgba(52, 35, 170, 0.25) inset, 0px 1px 1px 1px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 1px #4834D4 inset, 0px 1px 2px 0px rgba(20, 14, 62, 0.25);
    padding: 16px 24px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    display: table;
    margin: 41px auto 0;
}
.teamJoin .outterText img {
    display: block;
    margin: 80px auto 28px;
    cursor: pointer;
}
.teamJoin:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.60);
    position: absolute;
}
.teamJoin .outterText {
    z-index: 1;
}
.teamCards .solutionCardOutter .cardSolution .cardDetails {
    text-align: center;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.60);
}
.solutionCardOutter .cardSolution {
    background-image: url(../public/assets/image/Rectangle80.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:408px;
    border-radius: 15px;
    background-position: center;
    overflow: hidden;
    margin: 0 10px 43px;
}
.teamCards .solutionCardOutter .cardSolution .cardDetails h2 {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    min-height: auto;
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    width: 100%;
}
.solutionCardOutter .cardSolution .cardDetails img {
    height: 100px;
    width: 100px;
}

.videoSec {
    background-image: url(../public/assets/image/Rectangle18.jpg);
    width: 100%;
    background-size: cover;
    height: 670px;
    background-repeat: no-repeat;
    margin-top: 23px;
}

.palyBtn img {
    width: 150px;
    height: auto;
}

.palyBtn {
    width: 152px;
    margin-top: 70px;
}
.videoSec h3 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.videoSec  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.teamCards {
    margin-top: 43px;
}

/* /tabs/ */

.tabNavbar a.nav-link {
    border: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='222' height='90' viewBox='0 0 222 90' fill='none'%3E%3Cmask id='path-1-inside-1_287_370' fill='white'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.57764e-05 90H198C198.16 89.7481 198.316 89.4889 198.466 89.2223L219.246 52.3672C221.824 47.7941 221.824 42.2059 219.246 37.6329L198.466 0.777837C198.316 0.511172 198.16 0.251916 198 0H0C0.160263 0.251916 0.315689 0.511172 0.466049 0.777837L21.246 37.6329C23.8244 42.2059 23.8244 47.7941 21.246 52.3672L0.466019 89.2223C0.315689 89.4889 0.160278 89.7481 4.57764e-05 90Z'/%3E%3C/mask%3E%3Cpath d='M198 90V96H201.294L203.062 93.2205L198 90ZM4.57764e-05 90L-5.0624 86.7795L-10.9281 96H4.57764e-05V90ZM198.466 89.2223L203.692 92.1692L203.693 92.1691L198.466 89.2223ZM219.246 52.3672L224.473 55.314L219.246 52.3672ZM219.246 37.6329L214.02 40.5798L219.246 37.6329ZM198.466 0.777837L203.693 -2.16901L203.692 -2.1691L198.466 0.777837ZM198 0L203.062 -3.22058L201.294 -6H198V0ZM0 0V-6H-10.9283L-5.0624 3.22058L0 0ZM0.466049 0.777837L5.69253 -2.16901L5.69248 -2.1691L0.466049 0.777837ZM21.246 37.6329L16.0196 40.5798L21.246 37.6329ZM21.246 52.3672L26.4725 55.314L21.246 52.3672ZM0.466019 89.2223L5.69247 92.1692L5.6925 92.1691L0.466019 89.2223ZM198 84H4.57764e-05V96H198V84ZM193.24 86.2754C193.141 86.4502 193.04 86.6182 192.938 86.7795L203.062 93.2205C203.28 92.8781 203.49 92.5276 203.692 92.1692L193.24 86.2754ZM214.02 49.4203L193.24 86.2754L203.693 92.1691L224.473 55.314L214.02 49.4203ZM214.02 40.5798C215.567 43.3236 215.567 46.6765 214.02 49.4203L224.473 55.314C228.082 48.9118 228.082 41.0883 224.473 34.6861L214.02 40.5798ZM193.24 3.72468L214.02 40.5798L224.473 34.6861L203.693 -2.16901L193.24 3.72468ZM192.938 3.22058C193.04 3.3818 193.141 3.54978 193.24 3.72478L203.692 -2.1691C203.49 -2.52743 203.28 -2.87797 203.062 -3.22058L192.938 3.22058ZM0 6H198V-6H0V6ZM-5.0624 3.22058C-4.95983 3.3818 -4.85905 3.54978 -4.76038 3.72478L5.69248 -2.1691C5.49043 -2.52743 5.28036 -2.87797 5.0624 -3.22058L-5.0624 3.22058ZM-4.76043 3.72468L16.0196 40.5798L26.4725 34.6861L5.69253 -2.16901L-4.76043 3.72468ZM16.0196 40.5798C17.5666 43.3236 17.5666 46.6765 16.0196 49.4203L26.4725 55.314C30.0823 48.9118 30.0823 41.0883 26.4725 34.6861L16.0196 40.5798ZM16.0196 49.4203L-4.76046 86.2754L5.6925 92.1691L26.4725 55.314L16.0196 49.4203ZM-4.76044 86.2754C-4.85901 86.4502 -4.95978 86.6182 -5.0624 86.7795L5.06249 93.2205C5.28033 92.8781 5.49039 92.5276 5.69247 92.1692L-4.76044 86.2754Z' fill='url(%23paint0_linear_287_370)' mask='url(%23path-1-inside-1_287_370)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_287_370' x1='12' y1='45' x2='221' y2='45' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E435D5'/%3E%3Cstop offset='1' stop-color='%236AA8EA'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-size: contain;
    display: flex !important;
    height: 100%!important;
    padding: 8px 30px;
    color: #5CB5EC;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tabNavbar a.nav-link.active {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='222' height='90' viewBox='0 0 222 90' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.57764e-05 90H198C198.16 89.748 198.316 89.4888 198.466 89.2222L219.246 52.3672C221.824 47.7942 221.824 42.2058 219.246 37.6328L198.466 0.777832C198.316 0.51123 198.16 0.251953 198 0H0C0.160263 0.251953 0.315689 0.51123 0.466049 0.777832L21.246 37.6328C23.8244 42.2061 23.8244 47.7942 21.246 52.3672L0.466019 89.2222C0.315689 89.489 0.160278 89.748 4.57764e-05 90Z' fill='url(%23paint0_linear_287_277)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_287_277' x1='27' y1='45' x2='221' y2='45' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E633D4'/%3E%3Cstop offset='1' stop-color='%235CB5EC'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    color: #ffffff;
}
.tabNavbar .nav-item {
    width: 221px;
    height: 90px;
    max-width: 100%;
}

.tabContent.tab-content .tab-pane {
    opacity: 1;
}
.tabContent.tab-content {
    margin-top: 80px;
}
.tabContent.tab-content .tabContt {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    max-width: 730px;
    padding: 0 42px;
}
.tabNavbar.nav.nav-tabs {
    border: none;
}

.tabsSec {
    margin-top: 88px;
    margin-bottom: 150px;
}
.tabContent.tab-content .tabImg {
    width: 270px;
    height: auto;
    border-radius: 20px;
}
.exploreBg {
    /* background: lightgray 50% / cover no-repeat, #FA61B3, url(../../public/assets/image/gradientBG.png); */
    background-image: url(../public/assets/image/Rectangle27.png);
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.exploreBg:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 156, 250, 0.71);
    position: absolute;
    top: 0;
    left: 0;
}
.exploreBg .titleCenter h2 {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 78px;
}
.exploreBg .titleCenter {
    z-index: 1;
}
.exploreBg .sliderOutter {
    position: relative;
    z-index: 1;
}
.prevCircle.sliksarrow {
    right: calc(50% + 20px);
}
.nextCircle.sliksarrow {
    left: calc(50% + 20px);
}
.expCardImg h5 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}
.expCardImg .iconText img.icon {
    width: 50px;
}
.expCardImg .iconText h3 {
    flex: 1;
    color: #7E7E7E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 0;
}
.expCardImg .iconText {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 18px;
    margin-bottom: 15px;
}
.expCardImg {
    border-radius: 15px;
    background: #FFF;
    height: auto;
    padding: 24px 40px;
}
.expCardImg a.cardBtn {
    border-radius: 10px;
    background: #2193F3;
    box-shadow: 0px -1px 1px 1px rgba(52, 35, 170, 0.25) inset, 0px 1px 1px 1px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 1px #4834D4 inset, 0px 1px 2px 0px rgba(20, 14, 62, 0.25);
    display: flex;
    padding: 18px 0;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    height: 78px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.expCard .slick-slider {
    padding-bottom: 150px;
}
.gradientBtn:hover {
    background: linear-gradient(90deg, #DF86EE  0%, #0095F3 100%);
}